
* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.place-picker-container {
  padding: 20px;
}

.icon-button-container {
  padding: 20px;
}

#map {
  height: 100vh;
  width: 60vw;
  float: right;
}

/* info window styling */
.info_window {
  height: 180px;
  width: 400px;
  overflow: scroll;
}
.info_window_info {
  display: flex;
  height: 100%;
}
.info_window_left {
  width: 140px;
  margin-right: 20px;
}
.info_window_left img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 1px solid black;
}
.info_window_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_window_content p:nth-child(2) {
  color: goldenrod;
}
.info_window_right p:nth-child(4) {
  margin-bottom: 15px;
}
.info_window_right div button {
  margin-left: 6px;
  padding: 4px;
  border: none;
  border-radius: 10px;
  background-color: darkorange;
  color: white;

} 
.info_window_right div button:hover {
  background-color: rgb(237, 131, 1);
  cursor: pointer;
} 
.info_window_buttons {
  display: flex;
  align-items: center;
}
.info_window_buttons > button {
  margin-right: 4px;
}
.info_window_buttons > a > img {
  max-height: 23px;
}

/* Place Autocomplete Styling */
gmp-place-autocomplete {
  margin: 15px;
  max-width: 300px;
}
.input-container > input {
  padding: 7px;
  border-radius: 10px;
}

/* Nearby Seach Buttons */
.nearby_button_list {
  position: absolute;
  margin-left: 50px;
}
.search_button {
  padding: 7px;
  border-radius: 7px;
  border: none;
  background-color: orange;
  color: white;
  margin-right: 15px;
}
.search_button:hover {
  background-color: rgb(46, 46, 46);
}

/* Item Planner Styling */
* {
  margin: 0;
  padding: 0;
  color: black;
  font-family:'Times New Roman', Times, serif;
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  color: rgb(144, 144, 144);
  font-size: 10pt;
}

button:hover {
  cursor: pointer;
}

h4 {
  width: 100px;
}

h5 {
  font-weight: 100;
}

@media (max-width: 750px) {
  #map {
    display: none;
  }

  .planner {
    width: 96% !important;
  }
}

@media screen {
  .onlyPrint {
      display: none;
  }
}

@media print {
  .no_print {
    display: none;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.left_buttons > button {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: inherit;
  padding: 5px;
}

.button_style_1 {
  border: none;
  border-radius: 10px;
  background-color: darkorange;
  color: white;
  padding: 7px;
}

.button_style_1:hover {
  background-color: rgb(236, 130, 0);
}

.button_style_2 {
  border: 1px solid darkorange;
  background-color: inherit;
  padding: 6px;
  border-radius: 10px;
}

.button_style_2:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.output_buttons> button {
  background-color: inherit;
  border: none;
  padding: 5px;
}

.buttons > div > button > img {
  width: 20px;
  height: 20px;
}

.planner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 36%;
  overflow: scroll;
  padding: 2%;
  background-color: white;
}

.header {
  margin-bottom: 30px;
}
.header > a {
  display: flex;
  align-items: center;
}
.header > a > h1 {
  margin-left: 20px;
}
h1 > span {
  color: darkorange;
}
.header > a > img {
  width: 65px;
}

/* Planner List Styles */
.plan_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan_item_right {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
}
.plan_item_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.item_date {
  border: none;
  outline: none;
  font-size: 12pt;
  font-weight: 900;
  width: 90%;
}
.item_time {
  border: none;
  outline: none;
  width: 90%;
}
.item_title {
  border: none;
  padding: 5px;
  outline: none;
  font-size: 14pt;
  font-weight: 900;
  background-color: inherit;
  flex: 1;
}
.item_note {
  border: none;
  padding: 5px;
  outline: none;
  background-color: inherit;
  width: 100%;
  resize: none;
  color: rgb(109, 109, 109);
}
.item_buttons > button {
  border: none;
  background-color: inherit;
}
.item_buttons > button > img{
  width: 20px;
  height: 20px;
}

.item_seperator {
  height: 1.5rem;
  width: 2px;
  margin-left: 190px;
  background-color: grey;
}


/* Email Form (Not Currently In Use) */
.email_form {
  border: 1px solid black;
  background-color: whitesmoke;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 0;
  height: 80%;
  z-index: 2;
}

.email_form > form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.email_form > form > label {
  display: flex;
  flex-direction: column;
}

.email_form > form > div {
  display: flex;
  flex-direction: row-reverse;
} 

.email_input{
  border: none;
  min-height: 18pt;
  font-size: 15pt;
  padding: 5pt;
  margin-bottom: 15px;
}

.title_input {
  border: none;
  min-height: 18pt;
  font-size: 15pt;
  padding: 5pt;
  margin-bottom: 15px;
}

.email_content {
  border: 1px solid black;
  height: 100%;
  margin-bottom: 15px;
  min-height: 300px;
}

.email_send_button {
  width: 100px;
  font-weight: 900;
}

.email_cancel_button {
  width: 100px;
  font-weight: 900;
  margin-left: 10px;
}