* {
    /*border: 1px solid red;*/
    color: whitesmoke;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

h1 {
    font-size: 40pt;
    padding-bottom: 15px;
}
h3 {
    padding-bottom: 15px;
}

.main_content {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
}

#left_content {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    padding: 50px;

}

#right_content {
    height: 300vh;
    width: 50vw;
    padding: 50px;
    font-size: 16pt;
}

#personal_links {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}