
:root {
    --darkgrey: #262626;
    --steelgrey: #909090;
    --lightgrey: #e0e0e0;

}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--darkgrey);
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background-color: whitesmoke;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 13vw;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}
li {
    list-style-type: none;
}
.main {
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
}
section {
    margin-bottom: 14%;
}
/* reused styling */
.button_one {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 12pt;
    font-weight: 900;
    background-color: black;
    color: white;    
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 8rem;
}
.button_one:hover{
    cursor: pointer;
    color: var(--lightgrey);
}
.button_one > img {
    max-width: 24px;
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-right: 12px;
}
.button_two {
    padding: 8px;
    border-radius: 8px;
    font-size: 12pt;
    font-weight: 900;
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 8rem;
    border: 1px solid var(--darkgrey);
}
.button_two:hover{
    cursor: pointer;
    background-color: var(--lightgrey);
}
.button_two > img {
    max-width: 21px;
    margin-right: 12px;
}

.fade_in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .75s, transform .75s;
}

/* header */
.link_img {
    width: 35px;
}
.resume_link {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    margin-bottom: 50px;
    width: 97%;
}

/* about */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.description {
    margin-top: 5px;
    margin-bottom: 30px;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.nav_a {
    padding: 5px;
    letter-spacing: .05rem;
    transition: .5s all ease-in-out;
    position: relative;
    background: transparent;
}
.nav_a::before {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: block;
    position: absolute;
    background: transparent;
    content: '';
    top: 0;
    bottom: 0;
    left: 100%;
    right: 100%;
    transition: .48s all ease-in-out;
}
.nav_a:hover {
    letter-spacing: .1rem;
}
.nav_a:hover::before {
    left: 0;
    right: 0;

}
.about_description {
    display: flex;
    align-items: center;
}
.about_description > p {
    width: 25vw;
    padding-right: 10vw;
    text-align: center;
}
.about_description > img {
    width: 250px;
    height: auto;
}

/* Journey */
#my_journey {
    width: 100%;
    position: relative;
}
.timeline {
    width: 1px;
    height: 1000px;
    background-color: black;
    margin-left: 50%;
}
.journey {
    position: absolute;
    top: 0;
    width: 100%;
}
.journey > .destination:nth-child(even) {
    margin-left: 55%;
}
.destination {
    border: 1px solid black;
    padding: 27px;
    width: 45%;
    margin-top: 20%;
}

/* Experience */
.job {
    border: 1px solid var(--lightgrey);
    padding: 30px;
}
.job_top {
    display: flex;
    justify-content: space-between;
}
.job > p {
    color: var(--steelgrey)
}

/* Projects */ 

.project {
    display: flex;
    flex-direction: row;
    gap: 13%;
    margin-bottom: 5%;
}
.project_description {
    width: 35%;
}
.project_description > h3 {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 16pt;
}
.project_description > p {
    padding-bottom: 10%;
    color: var(--steelgrey);
}

.project_multi_images {
    display: flex;
    width: 62%;
    gap: 15%;
}
.project_image {
    width: 62%;
}
.project_image > img {
    width: 100%;
    height: auto;
    border: 10px solid black;
}

@media screen and (max-width: 992px){
    .project {
        flex-direction: column;
    }
    .project_description {
        width: 100%;
        margin-bottom: 40px;
    }
    .project_image {
        width: 100%;
    }
    .nav {
        display: none;
    }
    .description {
        display: none;
    }
    .skills_list {
        flex-direction: column;
        width: 100%;
    }

}

/* Skills */
.skills_list_outer {
    margin-bottom: 4%;
}
.skills_list {
    display: flex;
}
.skill {
    border: 1px solid var(--lightgrey);
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 8px;
}
.skill > img {
    max-width: 55px;
    margin-right: 16px;
}

/* Education */

.degree {
    border: 1px solid grey;
    padding: 2rem;
}
.degree_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.degree > p {
    color: var(--steelgrey);
}
.degree_seperator {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    margin-left: 50%;
    border-radius: 100%;
}
.degree_seperator:nth-child(even) {
    border-style: none solid none none;
}
.degree_seperator:nth-child(odd) {
    border-style: none none none solid;
}

/* Contact */

.contact_row_one {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
    padding-bottom: 40px;
}
.contact_row_two {
    padding-bottom: 40px;
}
.contact_row_two input {
    resize: vertical;
    height: auto;
    min-height: 2rem;
}
.contact_form .contact_label {
    font-size: 13.5px;
    line-height: 2rem;
    color: rgb(50, 50, 50);
}
.contact_form input, .contact_form textarea {
    background: none;
    border-bottom: 1px solid black;
    height: 2rem;
    color: grey;
    font-size: 1rem;
    width: 100%;
}
.contact_form button {
    padding: 8px;
    border-radius: 8px;
    font-size: 12pt;
    font-weight: 900;
    background-color: black;
    color: whitesmoke;    
    min-width: 12rem;
}
.contact_form button:hover{
    cursor: pointer;
    color: lightgrey;
}
